  
form{
    font-size: large;
    //color: #85144b;
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 14cm;
    background-color: white;
}

body
{
    margin-top: 3cm;

    color: white;
}
.container
{
    margin-top: 3cm;
}
#submit_btn
{
    margin-top: 0.5cm;
background-color: white;
color:#85144b;
border: #85144b;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #003366;

border-style:solid;
border-width:2px;
}

.resetLink a{
    cursor: pointer;
}
label
{
    color: black;
    font-size: bolder;
    font-weight: bolder;
    text-align: center;
}
h2{
    color: #85144b;
    font-size: bolder;
 font-variant: small-caps;
 text-align: center;
  
}
button
{
    margin-top: 0.1cm;
    color:black;

   background-color:#85144b;
   margin-left:4cm;
   text-align: center;
}