p {
    font-family: Lato;
  }
  
  .example-card {
    max-width: 700px;
    margin: 80px
  }
  .photo {
    margin-top:0.5cm;
  margin-left: 5cm;
  margin-right: 0.1cm;
  height: 8cm;
  width: 7cm;
}

.photo2 {
    margin-top:0.5cm;
  margin-right: 0.1cm;
  height: 3cm;
  width: 3cm;
}
.adding
{
    margin-left:2cm;
}
.mat-card-subtitle
{
font-weight: bolder;
font-size: 16px;
}

h4{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-variant: small-caps;
}

