p {
    font-family: Lato;
  }
  
  .example-card {
    max-width: 700px;
    margin: 80px
  }
  .photo {
    margin-top:0.5cm;
  margin-left: 5cm;
  margin-right: 0.1cm;
  height: 8cm;
  width: 7cm;
}

.photo2 {
    margin-top:0.5cm;
  margin-right: 0.1cm;
  height: 3cm;
  width: 3cm;
}
#n1
{
    color: black;
    background-color: black;
    height: 1cm;
    width: 1cm;
}
#n2
{
    background-color:#624a2e;
    height: 1cm;
    width: 1cm;
}
#n3
{
    background-color: #DE9408;
    height: 1cm;
    width: 1cm;
}
.adding
{
    margin-left:2cm;
}