<div *ngIf="viewpage">
	<mat-card class="example-card">
		<mat-card-header>
			
			<img src="{{selectedBag.productPic}}" class="photo">
			<mat-card-title>{{selectedBag.productName}}</mat-card-title>
			<mat-card-subtitle>{{selectedBag.productPrice}} </mat-card-subtitle>
			<mat-card-subtitle>{{selectedBag.productDescrip}}</mat-card-subtitle>

			<mat-card-subtitle>
				<img src="https://cdn.shopify.com/s/files/1/0003/2725/4068/articles/leather-540142_1920_1400x.progressive.jpg?v=1560199010" width="120" height="75">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwJcfOrtXQcy3MZbYs0JynInwliXdM2U_Xhw&usqp=CAU" width="120" height="75">
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-header>

			<mat-card-subtitle>
				<h4>{{selectedBag.sizes}}</h4>
			</mat-card-subtitle>

		</mat-card-header>
	
		<button mat-raised-button  routerLink="/update" (click)="viewinfo(selectedBag)">Update</button>
		<button mat-raised-button  (click)="delete(selectedBag)" routerLink="/">Delete</button>
	</mat-card>
</div>









