<!DOCTYPE html>
<html>

<body>

	<div class="container">


		<div class="centered">
			<!-- Default form login -->
			<form class="text-center border border-light p-5">

				<h2>Sign in</h2>


		
					<label>Email</label>
					<input [(ngModel)]="email" name="email" type="text" placeholder="Email">
			
			
					<label>Password</label>
					<input [(ngModel)]="password" name="password" type="password" placeholder="password">
				




				<div>


					<button type="button" (click)="login()" class="btn btn-primary" id="submit_btn"
						routerLink="">Submit</button>

				</div>
				<div class="resetLink">
					<a routerLink="/reset">Forgot password?</a>
				</div>





				<p>
					<a routerLink="/register">Not a member</a>
				</p>



			</form>
		</div>
	</div>


</body>

</html>