<div class="container">


	<div class="centered">
		<form [formGroup]="contactForm"  (ngSubmit)="onSubmit()">
			<h2>Edit Product</h2>

			
	<div>
		<input placeholder="product Name" name="Product Name" formControlName="productName"  type="string" matInput required >



		<input placeholder="Product Price" name="ProductPrice"  formControlName="productPrice" type="string" matInput required >



		<input placeholder="Product Description" name="productD" formControlName="productDescrip"type="string" matInput required >

		<input placeholder="Product Image" name="productPic"formControlName="productPic" type="text" matInput required >

		<button type="submit" class="btn btn-success" click="updating()">Edit</button>
	
    </div>
		

	</form>
  </div>





  </div>

  

