<div class="container">


	<div class="centered">
		<form [formGroup]="contactForm"  (ngSubmit)="onSubmit()">
			<h2>Add new Product </h2>

			<label>Product Name</label>
		<input  name="Product Name" formControlName="productName" type="string" matInput required >
		<br>
		<label>Product Price</label>
		<input  name="ProductP" formControlName="productPrice" type="string" matInput required >
		<br>
		<label>Product Decription</label>
		<input  name="productD" formControlName="productDescrip" type="string" matInput required >
		<br>
		<label>Product Picture</label>
		<input  name="productPic" formControlName="productPic" type="text" matInput required >
		<br>
		<label>Product size</label>
		<input  name="sizes" formControlName="sizes" type="text" matInput required >
		<br>




		<button class="btn btn-success" click="onSubmit()">Add Product</button>
	
	


	</form>
  </div>
  </div>
