<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>

  <button mat-raised-button type="submit"  *ngIf="btn_add" class="add_btn" routerLink="/Addproduct">Add Products</button>
  
 
 


  <mat-grid-list cols="4" rowHeight="12cm">
    <mat-grid-tile *ngFor="let pro of productList">


      <mat-card *ngIf="homeView">

<div class="pp">
        <mat-card-header>
          <img src={{pro.productPic}} class="photo">
        </mat-card-header>

        <mat-card-content>
          {{pro.productName}}
        </mat-card-content>
        <mat-card-content>
          {{pro.productPrice}}
        </mat-card-content>
          <button mat-raised-button (click)="viewProduct(pro)">DETAILS</button>
     
     
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

<!--
  <h3>firebase</h3>

  <button mat-raised-button type="submit" *ngIf="btn_add" routerLink="/Addproduct">Add Products</button>
      <mat-grid-list cols="3" rowHeight="12cm">
        <mat-grid-tile *ngFor="let bag of productBag| async">
    
    
          <mat-card *ngIf="homeView">

        <div class="pp">
                <mat-card-header>
                  <img src="{{bag.productPic}}" class="photo">
                </mat-card-header>
        
                <mat-card-content>
                  {{bag.productName}}
                </mat-card-content>
                <mat-card-content>
                  {{bag.productPrice}}
                </mat-card-content>
        
                  <button mat-raised-button (click)="viewProduct(pro)">DETAILS</button>
             
             
                </div>
      </mat-card>
      </mat-grid-tile>
      </mat-grid-list>
    -->

  


    
    
        
    
    
</body>

</html>