<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>



<div class="container">
	

	<div class="centered">
		<form>
			<h2>Registration Form</h2>
		

				<div class="fields">
					<label>First Name</label>

					<input [(ngModel)]="name" name="name" type="string" matInput required >
</div>

					<div class="fields">
						<label>Last Name</label>
						<input [(ngModel)]="surname" name="surname"  type="string" matInput required >
</div>



<div class="fields">
	<label>Age</label>
	<input [(ngModel)]="age" name="age" type="text" matInput required>
</div>
<div class="fields">
	<label>Cell Number</label>
	<input [(ngModel)]="cellNo" name="cellNo" type="text" matInput required>
</div>



<div class="fields">
	<label>Email</label>
	<input [(ngModel)]="email" name="email" type="text" matInput required>
</div>
						<div class="fields">
							<label>password</label>

							<input [(ngModel)]="password" name="password" type="password" matInput required >
</div>

							<button mat-raised-button type="submit" class="btn btn-success" (click)="signUp()" id="submit_btn" >Submit</button>
							<p>
								<a routerLink="/login" >Already a Member</a>
								</p> 

		</form>
	</div>
</div>




</body>
</html>