<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>



<div class="container">
	

	<div class="centered">
		<form>
			<h2>Registration Form</h2>
			<div class="fields">
				<label>Email</label>
				<input [(ngModel)]="email" name="email" type="text" matInput required>
</div>

				<div class="fields">
					<label>First Name</label>

					<input [(ngModel)]="firstName" name="firstName" type="string" matInput required >
</div>

					<div class="fields">
						<label>Last Name</label>
						<input [(ngModel)]="lastName" name="lastName"  type="string" matInput required >
</div>
						<div class="fields">
							<label>password</label>

							<input [(ngModel)]="password" name="password" type="password" matInput required >
</div>

							<button mat-raised-button type="submit" class="btn btn-success" (click)="signUp()"routerLink="/login" id="submit_btn" >Submit</button>

		</form>
	</div>
</div>




</body>
</html>